name: CI
on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  workflow_dispatch:
jobs:
  ci:
    name: ${{ matrix.name }}-${{ matrix.init-script.label }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        init-script:
          - label: 'init-script'
            path: './.github/workflows/scripts/init.sql'
          - label: 'no-init-script'
            path: ''
        include:
          - os: windows-latest
            name: Windows
          - os: ubuntu-latest
            name: Linux
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Azure login
        if: matrix.name == 'Windows'
        uses: azure/login@v2.3.0
        with:
          creds: ${{ secrets.AZURE_ACI_CREDENTIALS }}
      - name: Run
        uses: ./
        with:
          connection-string-name: OracleConnectionString
          tag: setup-oracle-action
          init-script: ${{ matrix.init-script.path }}
          registry-username: ${{ secrets.DOCKERHUB_USERNAME }}
          registry-password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Validate
        shell: pwsh
        run: |
          echo "OracleConnectionString = $($Env:OracleConnectionString)"
          if ( $Env:OracleConnectionString -le 0 ) {
            throw "Environment variable 'OracleConnectionString' not set."
          }
